

:root {
    --primary: #365D4A;
    --primary-medium: #838C68;
    --primary-light: #9CA386;
    --gray-dark: #383838;
    --secondary: #B34B23;
    --brown: #503021;
    --skin: #F0E6DC
}

.info-image-title-services {
    font-size: 14px;
    text-align: center;
    color: var(--secondary);
    margin: 0px;
    line-height: 1.8;
}

.services-leave-one {
    bottom: -210px;
    right: 150px;
    width: 400px;
}

.services-leave-two {
    bottom: -250px;
    right: -180px;
    width: 480px;
}

.services-leave-three {
    bottom: -250px;
    right: -180px;
    width: 400px;
}

@media screen and (max-width: 768px) {
    .services-leave-one {
        bottom: -70px;
        right: -92px;
        width: 150px;
    }
    .services-leave-two {
        bottom: -70px;
        right: -90px;
        width: 150px;
    }
    .services-leave-three {
        bottom: -70px;
        right: -70px;
        width: 150px;
    }
}