

:root {
    --primary: #365D4A;
    --primary-medium: #838C68;
    --primary-light: #9CA386;
    --gray-dark: #383838;
    --secondary: #B34B23;
    --brown: #503021;
    --skin: #F0E6DC
}

.info-image-title-services {
    font-size: 14px;
    text-align: center;
    color: var(--secondary);
    margin: 0px;
    line-height: 1.8;
}