
:root {
    --primary: #365D4A;
    --primary-medium: #838C68;
    --primary-light: #9CA386;
    --gray-dark: #383838;
    --secondary: #B34B23;
    --brown: #503021;
    --skin: #F0E6DC
}

.workshops-dropdown {
    color: var(--primary) !important;
}

.info-section-text {
    font-size: 21px;
}

.nav-link-tab {
    font-size: 20px !important;
    padding-bottom: 0px !important;
    font-weight: 500;
}

.workshops-leave-1 {
    position: absolute;
    top: -14rem;
    left: 0px;
}

.see-more-button {
    background-color: var(--skin);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 100% !important;
    display: block;
    max-width: 18rem !important;
    margin: 0 auto !important;
    font-size: 12px !important
}

@media screen and (max-width: 768px) {
    .info-section-text {
        font-size: 10px !important;
    }
    .header-info-description {
        font-size: 10px !important;
    }
    .workshops-dropdown .drop-text {
        font-size: 8px !important;
    }
    .workshops-dropdown-menu {
        border-radius: 4px !important;
        padding: 2px 6px !important;
    }
    .nav-link-tab {
        font-size: 12px !important;
    }
    .workshops-leave-1 {
        position: absolute;
        top: -4.5rem;
        left: -12px;
        width: 150px;
        rotate: -25deg;

    }
}