@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.font-poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .font-poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .font-poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .font-poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .font-poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .font-poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .font-poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .font-poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .font-poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .font-poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .font-poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .font-poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .font-poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .font-poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .font-poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .font-poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .font-poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  
  @font-face {
    font-family: "Hatton";
    src: url('../assets/fonts/Hatton-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Hatton";
    src: url('../assets/fonts/Hatton-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: "Yeseva One", serif;
    src: url('../assets/fonts/YesevaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Pangram";
    src: url('../assets/fonts/Pangram-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Pangram";
    src: url('../assets/fonts/font-poppins-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Pangram";
    src: url('../assets/fonts/Pangram-Regular.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Pangram";
    src: url('../assets/fonts/Pangram-Regular.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
  
  /* cyrillic-ext */
  @font-face {
    font-family: 'Pangram';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/Pangram-Regular.ttf') format('truetype');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
      U+FE2E-FE2F;
  }
  /* cyrillic */

  /* vietnamese */
  @font-face {
    font-family: 'Pangram';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/Pangram-Regular.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Pangram';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/Pangram-Regular.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
      U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Pangram';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/Pangram-Regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    src: font-url('helvetica.eot') format('eot');
  }

/* Pangram */
.pangram-regular {
  font-family: "Pangram";
  font-weight: normal;
}

.font-poppins-semibold {
  font-family: "Poppins";
  font-weight: 600;
}

.font-poppins-bold {
  font-family: "Poppins";
  font-weight: bold;
}

.pangram-black {
  font-family: "Pangram";
  font-weight: bolder;
}

.pangram-extralight {
  font-family: "Pangram";
  font-weight: lighter;
}

/* Helvetica */
.helvetica {
  font-family: 'Helvetica';
  font-weight: 400;
}

.font-yeseva-one {
  font-family: "Yeseva One", serif !important;
  font-weight: 400;
  font-style: normal;
}